In [335]:
# Importamos las librerías necesarias
import random
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [336]:
# Leemos el csv con el que vamos a trabajar
df_o = pd.read_csv('finanzas-hotel-bookings.csv', index_col = 0)

In [337]:
# Visualizamos las 5 primeras filas del DataFrame
df_o.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,...,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,...,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,...,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN

In [338]:
# Hacemos una copia del DataFrame original
df = df_o.copy()

In [339]:
# Obtenemos información general del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182877 entries, 0 to 182876
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  object
 2   lead_time                       119490 non-null  float64
 3   arrival_date_year               64829 non-null   float64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        101004 non-null  float64
 6   arrival_date_day_of_month       119271 non-null  float64
 7   stays_in_weekend_nights         119490 non-null  float64
 8   stays_in_week_nights            119490 non-null  float64
 9   adults                          119428 non-null  float64
 10  children                        69302 non-null   float64
 11  babies                          119431 non-null  float64
 12  meal                            119390 non-null  object
 13  country                         65054 non-null   object
 14  market_segment                  59934 non-null   object
 15  distribution_channel            105899 non-null  object
 16  is_repeated_guest               114376 non-null  float64
 17  previous_cancellations          76228 non-null   float64
 18  previous_bookings_not_canceled  119390 non-null  float64
 19  reserved_room_type              79275 non-null   object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119418 non-null  float64
 22  agent                           103050 non-null  float64
 23  company                         3870 non-null    float64
 24  days_in_waiting_list            119390 non-null  float64
 25  customer_type                   94199 non-null   object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  float64
 28  total_of_special_requests       119390 non-null  float64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         106514 non-null  object
 31  0                               42951 non-null   object
dtypes: float64(19), object(13)
memory usage: 46.0+ MB

In [340]:
# Visualizamos el nombre de las columnas
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', '0'],
      dtype='object')

In [341]:
# Eliminamos las columnas "0" y "company"
df.drop(columns= ['0', 'company'], inplace = True)

In [342]:
# Comprobamos que se han eliminado las columnas correctamente
df.shape

(182877, 30)

In [343]:
# Comprobamos los porcentajes de nulos en las columnas
porcentaje_nulos = df.isnull().mean() * 100
porcentaje_nulos

hotel                             34.715683
is_canceled                       34.715683
lead_time                         34.661002
arrival_date_year                 64.550490
arrival_date_month                34.715683
arrival_date_week_number          44.769435
arrival_date_day_of_month         34.780754
stays_in_weekend_nights           34.661002
stays_in_week_nights              34.661002
adults                            34.694904
children                          62.104584
babies                            34.693264
meal                              34.715683
country                           64.427457
market_segment                    67.227153
distribution_channel              42.092773
is_repeated_guest                 37.457417
previous_cancellations            58.317339
previous_bookings_not_canceled    34.715683
reserved_room_type                56.651192
assigned_room_type                34.715683
booking_changes                   34.700372
agent                             43.650650
days_in_waiting_list              34.715683
customer_type                     48.490515
adr                               34.715683
required_car_parking_spaces       34.715683
total_of_special_requests         34.715683
reservation_status                34.715683
reservation_status_date           41.756481
dtype: float64

In [344]:
# Reemplazamos los valores nulos por 0 en las columnas
def reemplazo_nan_cero(df, columnas):
      for columna in columnas:
        df[columna].fillna('0', inplace=True)

columnas_a_reemplazar = ['children', 'adults', 'babies'] 
reemplazo_nan_cero(df, columnas_a_reemplazar)

In [345]:
# Convertimos los valores de las filas a minúscula
def lowercase_all_strings(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            # Nos aseguramos de que cada valor no nulo se trate como una cadena antes de convertirlo a minúsculas
            df[col] = df[col].apply(lambda x: x.lower() if isinstance(x, str) else x)
    return df

df = lowercase_all_strings(df)

**MANTENEMOS LOS VALORES NULOS DE LAS SIGUIENTES COLUMNAS:**

- `hotel`
- `is_canceled`
- `arrival_date_month`
- `arrival_date_week_number`
- `arrival_date_day_of_month`
- `stays_in_weekend_nights`
- `stays_in_week_nights`
- `country`
- `previous_cancellations`
- `previous_bookings_not_canceled`
- `reserved_room_type`
- `assigned_room_type`
- `booking_changes`
- `agent`
- `days_in_waiting_list`
- `customer_type`
- `adr`
- `required_car_parking_spaces`
- `total_of_special_requests`
- `reservation_status`
- `reservation_status_date`

In [346]:
# Reemplazamos los valores nulos por "undefined"
def reemplazo_null_undefined(df, columnas):
      for columna in columnas:
        df[columna].fillna('undefined', inplace=True)

columnas_a_reemplazar = ['meal', 'market_segment','distribution_channel'] 
reemplazo_null_undefined(df, columnas_a_reemplazar)

In [347]:
# Comprobamos que se han hecho los cambios correctamente
df['meal'].unique(), df['market_segment'].unique(), df['distribution_channel'].unique()

(array(['bb', 'fb', 'hb', 'sc', 'undefined'], dtype=object),
 array(['undefined', 'corporate', 'online ta', 'direct', 'offline ta/to',
        'groups', 'complementary', 'aviation'], dtype=object),
 array(['direct', 'corporate', 'ta/to', 'undefined', 'gds'], dtype=object))

In [348]:
# Reemplazamos los valores 1, 2 y 3 por los meses enero, febrero y marzo
reemplazos_dict = {
    '1': 'january',
    '2': 'february',
    '3': 'march'
}
df['arrival_date_month'] = df['arrival_date_month'].replace(reemplazos_dict)

In [349]:
# Comprobamos que se han hecho los cambios correctamente
df['arrival_date_month'].unique()

array(['july', 'august', 'september', 'october', 'november', 'december',
       'january', 'february', 'march', 'april', 'may', 'june', nan],
      dtype=object)

In [350]:
# Comprobamos los cambios que hemos realizado con un .sample(5)
df.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
44945,city hotel,True,180.0,2015.0,october,42.0,16.0,0.0,1.0,2.0,...,a,0.0,3.0,0.0,NaN,70.00,0.0,0.0,canceled,2015-08-31 00:00:00
46523,city hotel,False,1.0,2016.0,january,2.0,4.0,1.0,1.0,2.0,...,b,0.0,NaN,0.0,NaN,76.25,0.0,1.0,check-out,2016-01-06 00:00:00
118305,city hotel,False,134.0,NaN,august,NaN,16.0,0.0,2.0,1.0,...,a,0.0,52.0,0.0,transient,71.10,0.0,0.0,check-out,2017-08-18 00:00:00
140759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96492,city hotel,False,3.0,2016.0,september,36.0,2.0,0.0,1.0,2.0,...,d,0.0,14.0,0.0,NaN,140.00,0.0,1.0,check-out,2016-03-09 00:00:00

In [351]:
columnas_float = df.select_dtypes(include=['float']).columns.tolist()
columnas_float

['lead_time',
 'arrival_date_year',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'booking_changes',
 'agent',
 'days_in_waiting_list',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests']

In [352]:
# Reemplazamos valores nulos por '99999' para poder convertir las columnas 'float' a 'int'
df[columnas_float] = df[columnas_float].fillna(99999).astype(int)

In [353]:
df.agent.dtypes

dtype('int64')

In [357]:
df[columnas_float] = df[columnas_float].replace(99999, 0)

In [365]:
df['adr'] = df['adr'].astype(float)
df['adr'].dtypes

dtype('float64')

In [356]:
df.to_csv('finanzas-hotel-bookings-CLEANED.csv')